body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #ffd6e7, #ffeaf5);
    text-align: center;
}

/* Judul */
h1 {
    color: #ff4da6;
}

/* Card produk */
.produk {
    background: white;
    padding: 20px;
    margin: 15px;
    border-radius: 20px;
    display: inline-block;
    width: 200px;
    box-shadow: 0px 5px 15px rgba(255, 105, 180, 0.3);
    transition: 0.3s;
}

.produk:hover {
    transform: scale(1.05);
}

/* Tombol */
button {
    background: #ff66b2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #ff3385;
}

/* Box login */
.box {
    background: white;
    padding: 25px;
    margin: 100px auto;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(255, 105, 180, 0.3);
}
